<div class="panels">
	<!-- Toolbar of the diagram -->
	<div class="toolbar" ng-switch on="$ctrl.toolset">
		<!-- Show the title of the currently active toolset and allow the user to switch to another one -->
		<div class="btn-group toolset-chooser" uib-dropdown>
			<button class="btn btn-default" uib-dropdown-toggle>
				<span class="glyphicon glyphicon-menu-hamburger"></span> {{$ctrl.toolset}}
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu>
				<li ng-repeat="ts in $ctrl.toolsets" ng-class="{active: $ctrl.toolset === ts}">
					<a href ng-click="$ctrl.toolset = ts">
						{{::ts}}
					</a>
				</li>
			</ul>
		</div>
		<!-- File toolset: provides import/export of diagram part -->
		<div class="toolset" ng-switch-when="File">
			<button class="btn btn-default" ng-click="$ctrl.importDiagram()">Import</button>
			<a ng-href="{{::$ctrl.getFileURL($ctrl.model.data)}}" class="btn btn-default">Export</a>
		</div>
		<!-- Edit toolset: allows to add and remove tasks and dependencies -->
		<div class="toolset" ng-switch-when="Edit">
			<!--
				Using a wrapper element since repeating on buttons directly
				would eliminate whitespaces between them in the resulting markup
				and therefore also in the view.
			-->
			<span ng-repeat="t in $ctrl.diagramEditToolset">
				<button
					class="btn btn-default"
					ng-class="{'active': $ctrl.diaPaper.editMode === t.editMode}"
					ng-click="$ctrl.diaPaper.invokeTool(t)"
					ng-disabled="$ctrl.diaPaper.editMode !== t.editMode && !$ctrl.diaPaper.canInvokeTool(t)">
					{{::t.title}}
				</button>
			</span>
		</div>
		<!-- View toolset: allows to show/hide locations and dependency scopes. -->
		<div class="toolset" ng-switch-when="View">
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="$ctrl.showLocations" ng-change="$ctrl.hideLocationsChanged()">
				Locations
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="$ctrl.showLabels" ng-change="$ctrl.hideLabelsChanged()">
				Dependency Scopes
			</label>
		</div>
		<!-- Search toolset: allows to search for tasks and highlight them in the diagram. -->
		<div class="toolset" ng-switch-when="Search">
			<form class="form-inline">
				<div class="form-group has-feedback">
					<div class="input-group" ng-if="!$ctrl.advancedSearch">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit" ng-submit="$ctrl.search()">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
						<!-- Simple search query input -->
						<input
							id="simple-search" 
							type="search"
							class="form-control"
							placeholder="search task"
							ng-model="$ctrl.searchText"
							ng-change="$ctrl.searchTextChanged()"
							ng-model-options="{ updateOn: 'default blur submit', debounce: { default: 200, blur: 0, submit: 0 } }"/>
					</div>
					<!-- Clear simple search query -->
					<span
						class="form-control-feedback glyphicon glyphicon-remove"
						ng-click="$ctrl.cancelSearch()"
						ng-if="$ctrl.searchText">
					</span>
					<!-- Advanced search input-->
					<div
						class="input-group"
						ng-if="$ctrl.advancedSearch"
						uib-dropdown
						dropdown-append-to-body
						auto-close="outsideClick">
						<div class="input-group-btn">
							<!-- Open the query parameter form -->
							<button class="btn btn-default" uib-dropdown-toggle>
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<!-- Query parameter form in a dropdown -->
							<ul class="dropdown-menu" uib-dropdown-menu>
								<li>
									<div class="container-fluid">
										<div class="form">
											<div class="form-group">		
												<label for="search-id" class="control-label">ID</label>
												<input
												id="search-id"
												type="text"
												class="form-control"
												ng-model="$ctrl.searchParams.id"
												ng-change="$ctrl.searchQueryChanged()"/>
											</div>
											<div class="form-group">		
												<label for="search-phase" class="control-label">Phase</label>
												<select
													id="search-phase"
													class="form-control"
													ng-model="$ctrl.searchParams.phase"
													ng-change="$ctrl.searchQueryChanged()"
													ng-options="p as p.name for p in $ctrl.phases">
													<option value="">-- Select a phase --</option>
												</select>
											</div>
											<div class="form-group">		
												<label for="search-act" class="control-label">Activity</label>
												<select
													id="search-act"
													class="form-control"
													ng-model="$ctrl.searchParams.activity"
													ng-change="$ctrl.searchQueryChanged()"
													ng-options="t as t.name for t in $ctrl.activities">
													<option value="">-- Select an activity --</option>
												</select>
											</div>
											<div class="form-group">		
												<label for="search-craft" class="control-label">Craft</label>
												<select
													id="search-craft"
													class="form-control"
													ng-model="$ctrl.searchParams.craft"
													ng-change="$ctrl.searchQueryChanged()"
													ng-options="c as (c | withShortName) for c in $ctrl.crafts">
													<option value="">-- Select an activity --</option>
												</select>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<input
							id="advanced-search"
							type="search"
							class="form-control"
							ng-model="$ctrl.searchQuery"
							readonly/>
					</div>
					<!-- Clear avdanced search query -->
					<span
						class="glyphicon glyphicon-remove form-control-feedback"
						ng-click="$ctrl.cancelSearch()"
						ng-if="$ctrl.searchQuery">
					</span>
				</div>
				<div class="form-group">
					<!-- Switch between simple and advanced search -->
					<a href ng-click="$ctrl.advancedSearch = !$ctrl.advancedSearch">
						{{$ctrl.advancedSearch ? 'Simple' : 'Advanced'}}
					</a>
				</div>
			</form>
		</div>
		<!-- Zoom controls, always visible regardless of the currently selected toolset -->
		<!-- TODO: improve layout for smaller screens, maybe have a separate toolset for zoom! -->
		<div class="other-tools">
			Zoom:
			<span class="input-group input-group-sm">
				<input
					type="number"
					class="form-control zoom-scale"
					ng-model="$ctrl.zoomScale"
					ng-change="$ctrl.zoomChanged()"
					ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }"/>
				<span class="input-group-addon">%</span>
			</span>
			<span class="btn-group btn-group-sm">
				<button class="btn btn-default" ng-click="$ctrl.paperPanZoom.zoomIn()">
					<span class="glyphicon glyphicon-zoom-in"></span>
				</button>
				<button class="btn btn-default" ng-click="$ctrl.paperPanZoom.zoomOut()">
					<span class="glyphicon glyphicon-zoom-out"></span>
				</button>
				<button class="btn btn-default" ng-click="$ctrl.fitAndCenter()">
					<span class="glyphicon glyphicon-fullscreen"></span>
				</button>
			</span>
			<span class="divider"></span>
			<!-- Open the legend -->
			<a href ng-click="$ctrl.openLegend()">
				<span class="glyphicon glyphicon-info-sign">
			</span></a>
		</div>
	</div>
	<!-- Container element for the JointJS paper -->
	<div class="joint-paper"></div>
</div>