<div class="panels">
	<!-- The DiagramPaper itself -->
	<!-- reload the model on structural changes to refresh info about whether config and diagram are empty and editable -->
	<!-- reload the problems on all changes to keep them up-to-date -->
	<precise-diagram-paper
		model="$ctrl.model"
		current-problem="$ctrl.currentProblem"
		on-structure-changed="$ctrl.reload()"		
		on-diagram-changed="$ctrl.loadProblems()">
	</precise-diagram-paper>
	<div id="properties-wrapper" ng-show="$ctrl.resource" ng-switch on="$ctrl.resourceType">
		<task-properties
			class="properties"
			ng-switch-when="task"
			resource="$ctrl.resource"
			done="$ctrl.done($result)"
			cancelled="$ctrl.cancelled()"
			activity-changed="$ctrl.activityChanged($result)">
		</task-properties>
		<dependency-properties
			class="properties"
			ng-switch-when="dependency"
			resource="$ctrl.resource"
			done="$ctrl.done($result)"
			cancelled="$ctrl.cancelled()">
		</dependency-properties>
		<div ng-switch-default>
			Nothing selected.
		</div>
	</div>
</div>
<div id="problems" class="panel panel-default" ng-class="{open: $ctrl.problemsOpen, consistent: $ctrl.consistent, inconsistent: $ctrl.consistent === false}">
	<header class="panel-heading" ng-click="$ctrl.problemsOpen = !$ctrl.problemsOpen">
		<div ng-if="$ctrl.problems" class="heading-section consistency-feedback">
			{{$ctrl.consistent ? 'Consistent' : 'Inconsistent'}}
			<span class="glyphicon glyphicon-{{$ctrl.consistent ? 'ok' : 'warning-sign'}}"></span>
		</div>
		<div ng-if="$ctrl.problems.length" class="heading-section-divider"></div>
		<div ng-if="$ctrl.problems && $ctrl.problemsOpen" class="heading-section">
			<span ng-if="$ctrl.problemsOpen" class="problem-count structure-warning">Structure warnings: {{$ctrl.problemsByCategory.STRUCTURE_WARNING.length || 0}}</span>
			<span ng-if="$ctrl.problemsOpen" class="problem-count structure-error">Structure errors: {{$ctrl.problemsByCategory.STRUCTURE_ERROR.length || 0}}</span>
			<span ng-if="$ctrl.problemsOpen" class="problem-count consistency-error">Consistency errors: {{$ctrl.problemsByCategory.CONSISTENCY_ERROR.length || 0}}</span>
		</div>
		<div ng-if="!$ctrl.problemsOpen" class="heading-section">
		 	<span class="problem-count all-problems">Problems: {{$ctrl.problems.length}}</span>
		 </div>
		<div ng-if="!$ctrl.problems" class="heading-section loading-indicator">Loading...</div>
	</header>
	<article uib-collapse="!$ctrl.problemsOpen" class="{{$ctrl.problems.length ? 'list-group' : 'panel-body'}}">
		<div
			class="list-group-item row"
			data-category="{{p.category}}"
			ng-if="$ctrl.problems.length > 0"
			ng-class="{'active': p === $ctrl.currentProblem}"
			ng-repeat="p in $ctrl.problems track by $index"
			ng-click="$ctrl.showProblem(p)"
		>
			<div class="col-sm-2" ng-switch="p.category">
				<span ng-switch-when="STRUCTURE_WARNING" class="structure-warning">Structure warning</span>
				<span ng-switch-when="STRUCTURE_ERROR" class="structure-error">Structure error</span>
				<span ng-switch-when="CONSISTENCY_ERROR" class="consistency-error">Consistency error</span>
			</div>	
			
			<span class="col-sm-10">
				{{p.message}}
			</span>
		</div>
		<p class="text-muted" ng-if="$ctrl.problems.length === 0">No problems</p> 
		<p class="text-muted" ng-if="!$ctrl.problems">Loading...</p>
	</article>
</div>
