<div class="scroll-pane">
	<div class="form-horizontal">
		<div class="form-group">
			<label for="id" class="col-sm-4 control-label">ID</label>
			<div class="col-sm-8">
				<span id="id" class="form-control field-id">
					#{{$ctrl.resource.data.id}}
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="phase" class="col-sm-4 control-label">Phase</label>
			<div class="col-sm-8">
				<p id="phase" class="form-control-static">
					{{$ctrl.resource.data.type.phase.name}}
				</p>
			</div>
		</div>
		<div class="form-group">
			<label for="type" class="col-sm-4 control-label">Definition</label>
			<div class="col-sm-8">
				<select
					id="type"
					class="form-control"
					ng-model="$ctrl.resource.data.type"
					ng-options="tt as (tt.shortName + ' - ' + tt.name) for tt in $ctrl.taskTypes track by tt.name">
				</select>
				<button class="btn btn-default" ng-click="$ctrl.editTaskDefinition()">Edit</button>
				<!-- <button class="btn btn-default"></button> -->
			</div>
		</div>
		<div class="form-group">
			<label for="craft" class="col-sm-4 control-label">Craft</label>
			<div class="col-sm-8">
				<p id="craft" class="form-control field-craft">
					{{$ctrl.resource.data.type.craft | withShortName }}
				</p>
			</div>
		</div>
		<fieldset>
			<legend ng-click="$ctrl.toggleCollapsed('pitches')">
				<span class="glyphicon glyphicon-chevron-{{$ctrl.collapsed.pitches ? 'right' : 'down'}}"></span>
				Pitch
			</legend>
			<div uib-collapse="$ctrl.collapsed.pitches">
				<div class="form-group" ng-class="{'has-warning': $ctrl.pitchError}">
					<label for="man-hours" class="col-sm-4 control-label">Work amount</label>
					<div class="col-sm-4">
						<p id="duration-hours" class="form-control-static">
							<span ng-show="$ctrl.resource.data.manHours">
								{{$ctrl.resource.data.manHours}} man-hours
							</span>
							<span ng-show="!$ctrl.resource.data.manHours">
								N/A
							</span>
						</p>
					</div>
					<div class="col-sm-4 text-right">
						<button class="btn btn-default " ng-click="$ctrl.computePitches()">Compute</button>
					</div>
					<div class="col-sm-offset-4 col-sm-8">
						<span class="help-block" ng-show="$ctrl.pitchError">
							{{$ctrl.pitchError}}
						</span>
					</div>
				</div>
				<hr/>
				<div class="form-group" ng-class="{'has-warning': $ctrl.pitchError}">
					<label for="duration" class="col-sm-4 control-label">(D) Expected duration</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input id="duration"
								type="number"
								class="form-control"
								placeholder="D = Q / (C * P)"
								ng-model="$ctrl.resource.data.pitch.durationDays"/>
							<span class="input-group-addon">days</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-warning': $ctrl.pitchError}">
					<label for="crew-size" class="col-sm-4 control-label">(S) Crew Size</label>
					<div class="col-sm-8">
						<input id="crew-size"
							type="number"
							class="form-control field-crew-size"
							ng-model="$ctrl.resource.data.pitch.crewSize"/>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-warning': $ctrl.pitchError}">
					<label for="crew-count" class="col-sm-4 control-label">(C) Crew Count</label>
					<div class="col-sm-8">
						<input id="crew-count"
							type="number"
							class="form-control field-crewCount"
							placeholder="C = Q / (D * P)"
							ng-model="$ctrl.resource.data.pitch.crewCount"/>
					</div>
				</div>
				<div ng-if="$ctrl.resource.data.type.unitOfMeasure">
					<div class="form-group" ng-class="{'has-warning': $ctrl.pitchError}">
						<label for="quantity-per-day" class="col-sm-4 control-label">(P) Crew Productivity</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input id="quantity-per-day"
									type="number"
									step="0.1"
									class="form-control field-quantity-per-day"
									placeholder="P = Q / (C * D)"
									ng-model="$ctrl.resource.data.pitch.quantityPerDay"/>
								<span class="input-group-addon">{{$ctrl.resource.data.type.unitOfMeasure}}/day</span>
							</div>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-warning': $ctrl.pitchError}">
						<label for="total-quantity" class="col-sm-4 control-label">(Q) Total Quantity</label>
						<div class="col-sm-8">
							<div class="input-group">
								<input id="total-quantity"
									type="number"
									class="form-control field-total-quantity"
									placeholder="Q = C * D * P"
									ng-model="$ctrl.resource.data.pitch.totalQuantity"/>
								<span class="input-group-addon">{{$ctrl.resource.data.type.unitOfMeasure}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset ng-if="$ctrl.resource.data.type.phase">
			<legend ng-click="$ctrl.toggleCollapsed('exclusiveness')">
				<span class="glyphicon glyphicon-chevron-{{$ctrl.collapsed.exclusiveness ? 'right' : 'down'}}"></span>
				Exclusiveness
			</legend>
			<div uib-collapse="$ctrl.collapsed.exclusiveness">
				<div class="form-group">
					<label for="exclusiveness-type" class="col-sm-4 control-label">Type</label>
					<div id="exclusiveness-type" class="col-sm-8">
						<div class="radio" ng-repeat="st in $ctrl.scopeTypes">
							<label>
								<input
									type="radio"
									ng-model="$ctrl.exclusiveness.type"
									ng-value="st"
									ng-change="$ctrl.updateExclusivenessAttributes()"/>
								{{st.displayName}}
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="exclusiveness-attributes" class="col-sm-4 control-label">Attributes</label>
					<div class="col-sm-8">
						<div class="checkbox" ng-repeat="attr in $ctrl.resource.data.type.phase.attributes">
							<label>
								<input type="checkbox"
									ng-model="$ctrl.exclusiveness.attributes[attr.name]"
									ng-change="$ctrl.updateExlusivenessType()">
									{{ attr | withShortName }}
							</label>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset ng-if="$ctrl.resource.data.type.phase">
			<legend ng-click="$ctrl.toggleCollapsed('order')">
				<span class="glyphicon glyphicon-chevron-{{$ctrl.collapsed.order ? 'right' : 'down'}}"></span>
				Order
			</legend>
			<div uib-collapse="$ctrl.collapsed.order">
				<div class="toolbar">
					<button
						class="btn btn-primary btn-xs"
						ng-click="$ctrl.addOrderSpec()"
						ng-disabled="!$ctrl.canAddOrderSpec()">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
				<table id="orderspec-table" class="table table-striped" st-table="orderSpecs" st-safe-src="$ctrl.order.specs">
					<thead>
						<tr>
							<th>Attribute</th>
							<th>Order Type</th>
							<th class="btn-column"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="o in orderSpecs track by $index">
							<td>
								<select
									ng-model="o.attribute"
									ng-options="a as (a | withShortName) for a in $ctrl.resource.data.type.phase.attributes | filter:$ctrl.attrFilterForOrderSpec(o):true track by a.name"
									ng-change="$ctrl.selectedOrderSpecAttribute()">
									<option value="">----</option>
								</select>
							</td>
							<td>
								<select
									ng-model="o.orderType"
									ng-options="t as t.displayName disable when $ctrl.isDisabledOrderType(t, o.attribute) for t in $ctrl.orderTypes">
									<option value="">----</option>
								</select>
							</td>
							<td class="btn-column">
								<button
									class="btn btn-default btn-xs"
									ng-click="$ctrl.moveUpOrderSpec($index)"
									ng-disabled="!$ctrl.canMoveUpOrderSpec($index)">
									<span class="glyphicon glyphicon-chevron-up"></span>
								</button>
								<button
									class="btn btn-default btn-xs"
									ng-click="$ctrl.moveDownOrderSpec($index)"
									ng-disabled="!$ctrl.canMoveDownOrderSpec($index)">
									<span class="glyphicon glyphicon-chevron-down"></span>
								</button>
								<button
									class="btn btn-danger btn-xs"
									ng-click="$ctrl.removeOrderSpec($index)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<fieldset ng-if="$ctrl.resource.data.type.phase">
			<legend ng-click="$ctrl.toggleCollapsed('locations')">
				<span class="glyphicon glyphicon-chevron-{{$ctrl.collapsed.locations ? 'right' : 'down'}}"></span>
				Locations
			</legend>
			<div uib-collapse="$ctrl.collapsed.locations">
				<div class="form-group">
					<label for="total-units" class="col-sm-8 control-label">Total number of units</label>
					<div class="col-sm-4">
						<p id="total-units" class="form-control-static">
							{{$ctrl.resource.data.units}}
						</p>
					</div>
				</div>
				<div class="toolbar">
					<button
						class="btn btn-primary btn-xs"
						ng-click="$ctrl.addPattern()">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
				<table id="location-table" class="table table-striped" st-table="locs" st-safe-src="$ctrl.resource.data.locationPatterns">
					<thead>
						<tr>
							<th ng-repeat="attr in $ctrl.resource.data.type.phase.attributes">{{::(attr | withShortName)}}</th>
							<th class="btn-column"></th>
						</tr>
					</thead>
					<tbody>
						<tr id="location-{{$index}}" ng-repeat="pattern in locs track by $index" ng-init="patternNum = $index">
							<td ng-repeat="attr in $ctrl.resource.data.type.phase.attributes track by $index">
								<select
									ng-model="pattern[attr.name].value"
									ng-options="value for value in pattern[attr.name].allowedValues"
									ng-class="{disabled: $ctrl.isDisabledPatternEntry(pattern[attr.name])}"
									ng-disabled="$ctrl.isDisabledPatternEntry(pattern[attr.name])"
									ng-change="$ctrl.updatePattern(pattern, patternNum, attr, pattern[attr.name].value)">
								</select>
							</td>
							<td class="btn-column">
								<button
									class="btn btn-danger btn-xs"
									ng-click="$ctrl.removePattern(patternNum)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>
</div>
<footer>
	<div class="text-right">
		<button class="btn btn-primary"
			ng-click="$ctrl.sendTask()"
			ng-disabled="!$ctrl.resource.data.type">
			Done
		</button>
		<button class="btn btn-default" ng-click="$ctrl.cancelled()">Cancel</button>
	</div>
</footer>
