<div class="panels">
	<div class="toolbar" ng-switch on="$ctrl.toolset">
		<div class="btn-group toolset-chooser" uib-dropdown>
			<button class="btn btn-default" uib-dropdown-toggle>
				<span class="glyphicon glyphicon-menu-hamburger"></span> {{$ctrl.toolset}}
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu>
				<li ng-repeat="ts in $ctrl.toolsets" ng-class="{active: $ctrl.toolset === ts}">
					<a href ng-click="$ctrl.toolset = ts">
						{{::ts}}
					</a>
				</li>
			</ul>
		</div>
		<div class="toolset" ng-switch-when="Edit">
			<!--
				Using a wrapper element since repeating on buttons directly
				would eliminate whitespaces between them in the resulting markup
				and therefore also in the view.
			-->
			<span ng-repeat="t in $ctrl.diagramToolset">
				<button
					class="btn btn-default"
					ng-class="{'active': $ctrl.diaPaper.editMode === t.editMode}"
					ng-click="$ctrl.diaPaper.invokeTool(t)"
					ng-disabled="$ctrl.diaPaper.editMode !== t.editMode && !$ctrl.diaPaper.canInvokeTool(t)">
					{{::t.title}}
				</button>
			</span>
		</div>
		<div class="toolset" ng-switch-when="View">
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="$ctrl.showLocations" ng-change="$ctrl.hideLocationsChanged()">
				Locations
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="$ctrl.showLabels" ng-change="$ctrl.hideLabelsChanged()">
				Dependency Scopes
			</label>
		</div>
		<div class="toolset" ng-switch-when="Search">
			<form class="form-inline">
				<div class="form-group">
					<input
						id="simple-search"
						type="text"
						class="form-control"
						placeholder="search task"
						ng-model="$ctrl.searchText"
						ng-if="!$ctrl.advancedSearch"/>
					<div
						id="advanced-search"
						class="input-group"
						ng-if="$ctrl.advancedSearch"
						uib-dropdown
						dropdown-append-to-body
						auto-close="outsideClick">
						<input
							type="text"
							class="form-control"
							ng-model="$ctrl.searchQuery"
							readonly/>
						<div class="input-group-btn">
							<button class="btn btn-default" uib-dropdown-toggle>
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu>
								<li>
									<div class="container-fluid">
										<div class="form">
											<div class="form-group">		
												<label for="search-id" class="control-label">ID</label>
												<input
												id="search-id"
												type="text"
												class="form-control"
												ng-model="$ctrl.searchParams.id"
												ng-change="$ctrl.searchQueryChanged()"/>
											</div>
											<div class="form-group">		
												<label for="search-phase" class="control-label">Phase</label>
												<select
													id="search-phase"
													class="form-control"
													ng-model="$ctrl.searchParams.phase"
													ng-change="$ctrl.searchQueryChanged()"
													ng-options="p as p.name for p in $ctrl.phases">
													<option value="">-- Select a phase --</option>
												</select>
											</div>
											<div class="form-group">		
												<label for="search-def" class="control-label">Definition</label>
												<select
													id="search-def"
													class="form-control"
													ng-model="$ctrl.searchParams.type"
													ng-change="$ctrl.searchQueryChanged()"
													ng-options="t as t.name for t in $ctrl.taskTypes">
													<option value="">-- Select a definition --</option>
												</select>
											</div>
											<div class="form-group">		
												<label for="search-craft" class="control-label">Craft</label>
												<select
													id="search-craft"
													class="form-control"
													ng-model="$ctrl.searchParams.craft"
													ng-change="$ctrl.searchQueryChanged()"
													ng-options="c as (c | withShortName) for c in $ctrl.crafts">
													<option value="">-- Select a definition --</option>
												</select>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="$ctrl.search()">Search</button>
					<button class="btn btn-default" ng-click="$ctrl.cancelSearch()">Cancel</button>
					<a href ng-click="$ctrl.advancedSearch = !$ctrl.advancedSearch">
						{{$ctrl.advancedSearch ? 'Simple' : 'Advanced'}}
					</a>
				</div>
			</form>
		</div>
		<div class="other-tools form-inline">
			Zoom:
			<span class="input-group">
				<input
					type="number"
					class="form-control"
					ng-model="$ctrl.zoomScale"
					ng-change="$ctrl.zoomChanged()"/>
				<span class="input-group-addon">%</span>
			</span>
			<button class="btn btn-default btn-sm" ng-click="$ctrl.paperPanZoom.zoomIn()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button class="btn btn-default btn-sm" ng-click="$ctrl.paperPanZoom.zoomOut()">
				<span class="glyphicon glyphicon-minus"></span>
			</button>
			<button class="btn btn-default btn-sm" ng-click="$ctrl.fitAndCenter()">
				<span class="glyphicon glyphicon-fullscreen"></span>
			</button>
			<span class="divider"></span>
			<a href ng-click="$ctrl.openLegend()">
				<span class="glyphicon glyphicon-info-sign">
			</span></a>
		</div>
	</div>
	<div class="joint-paper"></div>
</div>