<div class="panels">
	<div class="toolbar">
		<!--
			Using a wrapper element since repeating on buttons directly
			would eliminate whitespaces between them in the resulting markup
			and therefore also in the view.
		-->
		<span ng-repeat="t in $ctrl.diagramToolset">
			<button
				class="btn btn-default"
				ng-class="{'active': $ctrl.diaPaper.editMode === t.editMode}"
				ng-click="$ctrl.diaPaper.invokeTool(t)"
				ng-disabled="$ctrl.diaPaper.editMode !== t.editMode && !$ctrl.diaPaper.canInvokeTool(t)">
				{{::t.title}}
			</button>
		</span>
		<label class="checkbox-inline">
			<input type="checkbox" ng-model="$ctrl.showLocations" ng-change="$ctrl.hideLocationsChanged()">
			Locations
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" ng-model="$ctrl.showLabels" ng-change="$ctrl.hideLabelsChanged()">
			Labels
		</label>
		<div class="other-tools">
			<span>{{100 * $ctrl.zoomScale | number:0}}%</span>
			<a href ng-click="$ctrl.fitAndCenter()"><span class="glyphicon glyphicon-fullscreen"></span></a>
			<span class="divider"></span>
			<a href ng-click="$ctrl.openLegend()"><span class="glyphicon glyphicon-info-sign"></span></a>
		</div>
	</div>
	<div class="joint-paper"></div>
</div>