html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	font-family: Helvetica sans-serif;
}

.navbar-fixed-top {
	min-height: 50px;	/* Allow it to expand when menu is opened on mobiles */
	margin-bottom: 0;
	z-index: 100;
}

.navbar-fixed-top + .content {
	margin-top: 50px;
}

.navbar-divider {
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #777;
}

.navbar-divider::after {
	content: "|";
}

.dropdown > a {
	cursor: pointer;
}

figure {
	margin: 2em;
	text-align: center;
}

.container.content {
	margin-bottom: 2em;
}

.mandatory label::after {
	content: "*";
}

precise-error-dialog table {
	width: 100%;
}

.panels {
	position: relative;
	width: 100%;
	height: 100%;
}

.warnings-loader {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/warnings-loader.gif);
}