html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	font-family: Helvetica sans-serif;
}

.navbar-fixed-top {
	height: 50px;
	margin-bottom: 0;
	z-index: 100;
}

.navbar-fixed-top + .content {
	margin-top: 50px;
}

figure {
	margin: 2em;
	text-align: center;
}

.container.content {
	margin-bottom: 2em;
}

.mandatory label::after {
	content: "*";
}

precise-error-dialog table {
	width: 100%;
}

.warnings-loader {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/warnings-loader.gif);
}