.navbar-fixed-top + .content {
	position: absolute;
	top: 10px;
	right: 0;
	bottom: 10px;
	left: 0;
}

.nav-tabs {
	margin-bottom: 10px;
}

precise-diagram,
precise-diagram > .panels,
#properties-wrapper {
	height: 100%;
}

precise-diagram > .panels {
	position: relative;
}

precise-diagram-paper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* right: 400px; */
}

.properties {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 390px;
	/* margin-left: 10px; */
	min-width: 200px;
	max-width: 50%;
	vertical-align: top;
	background-color: #fff;
	z-index: 999;
	box-shadow: 1px 1px 4px 1px #444;
}

.properties > header,
.properties > article,
.properties > footer {
	padding: 5px;
}

.properties > header {
	height: 50px;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	box-shadow: 0px 1px 4px 0px #444;
}

/** Allow vertical scrolling in properties. */
.properties > article {
	position: absolute;
	top: 55px;		/* Header + gap */
	right: 0;
	bottom: 3.5em;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

/** Fix footer to the bottom. */
.properties > footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3.5em;
	border-top: 1px solid #eee;
}

/** Reduce vertical gaps. */
.properties .form-group {
	margin-bottom: 10px;
}

.properties legend {
	font-size: 1.2em;
}

.properties legend[ng-click] {
	cursor: pointer;
}

/******************************************
 * Show correspondence between task shapes
 * and property fields
 ******************************************/

#id,
#craft {
	border: none;
	box-shadow: none;
}

#id {
	background-color: black;
	color: white;
}

#id::before {
	content: "#";
}

#crew-size,
#crew-count {
	background-color: #F6BEC8;
	background-color: #D4C8E1;
	background-color: #E6F4FF;
}

#duration {
	background-color: #FFE9C4;
	background-color: #F8D9E0;
	background-color: #FFFBE5;
}

#craft {
	background-color: #FFFCC4;
	background-color: #FFE8C4;
	background-color: #FFE5E6;
}

/******************************************
 * Tables
 ******************************************/

.properties table {
	table-layout: fixed;
}

.properties table th,
.properties table td {
	text-align: center;
}

/* Avoid varying widths of table cells for order specs and locations. */
.properties table select {
	width: 100%;
}

.properties table .btn-column {
	text-align: right;
}

/* Gracefully cutoff too long headers. */
.properties table th {
	text-overflow: ellipsis;
	overflow: hidden;
}

/******************************************
 * Warnings
 ******************************************/

#warnings {
	position: fixed;
	bottom: 0;
	left: 0;
	width: auto;
	max-width: 100%;
	margin-bottom: 0;
	border-color: #a94442;
	border-width: 2px 2px 0px 0px;
	border-radius: 0;
	box-shadow: 1px 1px 4px 1px #a94442;
	color: red;
}

#warnings header.panel-heading {
	border-bottom: 0;
}

#warnings header.panel-heading,
#warnings header.panel-heading a {
	background-color: #a94442;
	color: white;
}
#warnings header.panel-heading a .badge {
	background-color: white;
	color: #a94442;
}

#warnings article {
	height: 200px;
	min-width: 400px;
	overflow: scroll;
}

#warnings.panel,
#warnings > .panel-heading,
#warnings > .panel-body,
#warnings > .list-group,
#warnings > .list-group > .list-group-item {
	border-radius: 0;
}

#warnings ul {
	list-style: none;
	padding: 0;
}

#warnings .warning-message {
	color: red;
}
