[precise-diagram] {
	position: relative;
}

.precise-diagram.toolbar {
	position: absolute;
	top: 0;
	height: 3em;
	width: 100%;
}

.zoom-options {
	float: right;
}

.precise-diagram.paper {
	position: absolute;
	top: 3em;
	bottom: 0;
	width: 100%;
	/* top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px; */
	border: thin solid #aaa;
	background-color: white;
	box-shadow: 1px 1px 4px 1px #888;
}

