[precise-diagram] {
	position: relative;
}

.precise-diagram.toolbar {
	position: absolute;
	top: 0;
	height: 3em;
	width: 100%;
}

.zoom-options {
	float: right;
}

.precise-diagram.paper {
	position: absolute;
	top: 3em;
	bottom: 0;
	width: 100%;
	border: thin solid #333;
	/* overflow: scroll; */
}

.precise-diagram.paper + .split-pane-divider {
	right: 300px;
	width: 5px;
}
