
nav {
	height: 50px;
}

.navbar-fixed-top + ui-view {
	position: absolute;
	top: 60px;
	right: 0;
	bottom: 10px;
	left: 0;
	margin: 0;
}

.single-model-diagram,
.single-model-diagram .panels,
#precise-diagram,
#properties {
	height: 100%;
}

.single-model-diagram .panels {
	position: relative;
}

#precise-diagram {
	margin-right: 350px;
}

.properties-wrapper {
	margin: 0.25em;
}

#properties {
	position: absolute;
	right: 0;
	top: 0;
	width: 340px;
	margin-left: 10px;
	min-width: 200px;
	/* border: thin solid #333; */
	vertical-align: top;
}

#properties .form-group {
	margin-bottom: 10px;
}

#location-table {
	table-layout: fixed;
}

#location-table th,
#location-table td {
	text-align: center;
}
