@CHARSET "ISO-8859-1";

/* General */

text {
	fill: black;
	font-size: 12px;
}

/******************************************
 * Override JointJS styles
 ******************************************/

.label rect {
	display: none;
}

.highlighted {
	opacity: initial;
}

.connection-wrap {
	stroke-width: 24;
	cursor: pointer;
}

.marker-vertices,
.link-tools {
   display: none;
}

/* For marker arrowheads, display: none causes problems*/
.marker-arrowheads,
.link:hover .marker-arrowheads {
	opacity: 0;
	pointer-events: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.highlighted {
		outline: none;
	}
}

/******************************************
 * Highlighting
 ******************************************/

/*
 * Show all link tools on highlight rather than on hover,
 * since hover does not make sense on touch devices.
 */
.precise.DependencyShape.highlighted .link-tools,
.precise.DependencyShape.highlighted .marker-vertices,
.precise.DependencyShape.highlighted .marker-vertex-remove,
.precise.DependencyShape.highlighted .marker-vertex-remove-area,
.precise.DependencyShape.highlighted .marker-arrowheads {
	display: inline;
	opacity: 1;
	pointer-events: auto;
}

.precise.DependencyShape.highlighted .connection-wrap {
	opacity: .4;
	stroke-opacity: .4;
}

/******************************************
 * Edit Modes
 ******************************************/

.add-task {
	cursor: crosshair;
}

.add-dependency .precise.TaskShape {
	cursor: pointer; 
}

.add-dependency .precise.TaskShape rect {
	fill: #f1f1b8;
}

.add-precedence .precise.TaskShape.highlighted {
	cursor: move; 
}

.add-precedence .precise.TaskShape.highlighted .outline {
	fill: transparent;
	stroke: black;
	stroke-dasharray: 10,10;
}

