@CHARSET "ISO-8859-1";

/* General */

text {
	fill: black;
	font-size: 12px;
}

.alt-cross {
	stroke: black;
	stroke-width: 2px;
}

.joint-element rect {
	stroke-width: 2px;
	stroke: black;
}

.joint-element rect.loc-entry {
	stroke-width: 1px;
	fill: transparent;
}

/******************************************
 * Show correspondence between task shapes
 * and property fields
 ******************************************/

/* using numbers */

.task-id-index {
	fill: #4bac00;
}

.task-workers-index {
	fill: #05417e;
}

.task-units-index {
	fill: #C27400;
}

.task-craft-index {
	fill: #AF0032;
}

/* using colors */
/* 
.highlighted text.task-id {
	fill: #4bac00;
}

.highlighted text.task-workers-needed {
	fill: #05417e;
}

.highlighted text.task-units-per-day {
	fill: #C27400;
}

.highlighted text.task-type-craft {
	fill: #AF0032;
}
*/
/******************************************
 * Override JointJS styles
 ******************************************/
 
.joint-link .connection {
	stroke-width: 2px;
}

.label rect {
	fill: white;
	opacity: 0.4;
}

/*
 * Make sure pointers only hit the <rect> element,
 * so JointJS recognizes the target as label
 */
.label text {
	pointer-events: none;	
}

.highlighted {
	opacity: initial;
}

.connection-wrap {
	stroke-width: 24;
	cursor: pointer;
}

.marker-vertices,
.link-tools {
   display: none;
}

/* For marker arrowheads, display: none causes problems*/
.marker-arrowheads,
.joint-link:hover .marker-arrowheads {
	opacity: 0;
	pointer-events: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.highlighted {
		outline: none;
	}
}

/******************************************
 * Highlighting
 ******************************************/

/*
 * Show all link tools on highlight rather than on hover,
 * since hover does not make sense on touch devices.
 */
.joint-type-precise-dependencyshape.highlighted .link-tools,
.joint-type-precise-dependencyshape.highlighted .marker-vertices,
.joint-type-precise-dependencyshape.highlighted .marker-vertex-remove,
.joint-type-precise-dependencyshape.highlighted .marker-vertex-remove-area,
.joint-type-precise-dependencyshape.highlighted .marker-arrowheads {
	display: inline;
	opacity: 1;
	pointer-events: auto;
}

.joint-type-precise-dependencyshape.highlighted .connection-wrap {
	opacity: .4;
	stroke-opacity: .4;
}

/******************************************
 * Warnings
 ******************************************/
 
.joint-type-precise-taskshape.warning rect,
.joint-type-precise-dependencyshape.warning .connection,
.joint-type-precise-dependencyshape.warning .marker-target,
.joint-type-precise-dependencyshape.warning .alt-cross {
	stroke: red;
}

.joint-type-precise-taskshape.warning rect,
.joint-type-precise-dependencyshape.warning .connection,
.joint-type-precise-dependencyshape.warning .marker-target {
	stroke-width: 3px;	
}

.joint-type-precise-dependencyshape.warning .alt-cross,
.joint-type-precise-taskshape.warning rect.loc-entry {
	stroke-width: 2px;
}

.joint-type-precise-dependencyshape.warning .marker-target {
	fill: red;
}

/******************************************
 * Alternative views
 ******************************************/

/* .hide-locations text.task-type-name {
	font-size: x-large;	
} */

/******************************************
 * Edit Modes
 ******************************************/

.add-task {
	cursor: crosshair;
}

.add-dependency .joint-type-precise-taskshape {
	cursor: pointer; 
}

.add-dependency .joint-type-precise-taskshape rect {
	fill: #f1f1b8;
}

.add-precedence .joint-type-precise-taskshape.highlighted {
	cursor: move; 
}
