<div class="modal-header">
	<h3 class="modal-title">
		{{::$ctrl.resource.exists ? 'Edit Activity ' + $ctrl.resource.data.name : 'New Activity'}}
	</h3>
</div>
<div class="modal-body">
	<form id="activity-form" class="form">
		<div class="form-group mandatory">
			<label for="activity-name">Name</label>
			<input id="model-name" type="text" class="form-control" ng-model="$ctrl.resource.data.name"/>
		</div>
		<div class="form-group mandatory">
			<label for="activity-short-name">Short Name</label>
			<input id="model-short-name" type="text" class="form-control" ng-model="$ctrl.resource.data.shortName"/>
		</div>
		<div class="form-group">
			<label for="activity-descr">Description</label>
			<textarea id="activity-descr" class="form-control" ng-model="$ctrl.resource.data.description" rows="10">
			</textarea>
		</div>
		<div class="form-group">
			<label for="activity-phase">Phase</label>
			<select
				id="activity-phase"
				class="form-control"
				ng-model="$ctrl.resource.data.phase"
				ng-options="p as p.name for p in $ctrl.phases track by p.name"
				ng-if="::!$ctrl.phaseFixed">
				<option value="">-- Select a phase --</option>
			</select>
			<!-- Static display of phase if fixed -->
			<p class="form-control-static" ng-if="::$ctrl.phaseFixed">
				{{$ctrl.resource.data.phase.name}}
			</p>
		</div>
		<div class="form-group">
			<label for="unit-of-measure">Unit of Measure</label>
			<input id="unit-of-measure" type="text" class="form-control" ng-model="$ctrl.resource.data.unitOfMeasure"/>
		</div>
		<div class="form-group">
			<label for="activity-craft">Craft</label>
			<select id="activity-craft"
				class="form-control"
				ng-model="$ctrl.resource.data.craft"
				ng-options="c as (c | withShortName) for c in $ctrl.crafts track by c.name">
				<option value="">-- Select a craft --</option>
			</select>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="submit" form="activity-form" ng-click="$ctrl.send()">OK</button>
	<button class="btn btn-cancel" type="button" form="activity-form" ng-click="$ctrl.cancel()">Cancel</button>
</div>