<div class="toolbar">
	<button class="btn btn-default" ng-click="$ctrl.createActivity()" ng-disabled="!$ctrl.phases">Create</button>
	<span class="text-danger">{{$ctrl.fileErrorMsg}}</span>
</div>
<table id="phase-table" class="table table-striped" st-table="$ctrl.coll" st-safe-src="$ctrl.activities">
	<thead>
		<!-- Column headers with sort functionality -->
		<tr>
			<th st-sort="name">Name</th>
			<th st-sort="shortName">Short Name</th>
			<th st-sort="unitOfMeasure">Unit of Measure</th>
			<th st-sort="craft.name">Craft</th>
			<th st-sort="phase.name">Phase</th>
			<th st-sort="taskCount">#tasks</th>
			<th class="btn-column"></th>
		</tr>
		<tr>
			<th><input st-search="name" placeholder="search" class="input-sm form-control" type="search"/></th>
			<th><input st-search="shortName" placeholder="search" class="input-sm form-control" type="search"/></th>
			<th><input st-search="unitOfMeasure" placeholder="search" class="input-sm form-control" type="search"/></th>
			<th><input st-search="craft.name" placeholder="search" class="input-sm form-control" type="search"/></th>
			<th><input st-search="phase.name" placeholder="search" class="input-sm form-control" type="search"/></th>
			<th><input st-search="taskCount" placeholder="search" class="input-sm form-control" type="search"/></th>
			<th class="btn-column"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="a in $ctrl.coll">
			<td>{{a.name}}</td>
			<td>{{a.shortName}}</td>
			<td>{{a.unitOfMeasure}}</td>
			<td>{{a.craft | withShortName}}</td>
			<td>{{a.phase.name}}</td>
			<td>{{a.taskCount}}</td>
			<td class="btn-column">
				<button
					class="btn btn-default"
					ng-click="$ctrl.editActivity(a)">
					Edit
				</button>
				<button
					class="btn btn-default"
					ng-click="$ctrl.deleteActivity(a)">
					Delete
				</button>
			</td>
		</tr>
	</tbody>
</table>