<div class="form-horizontal">
	<div class="form-group">
		<label for="source" class="col-sm-4 control-label">Source</label>
		<div class="col-sm-8">
			<p id="source" class="form-control-static">{{$ctrl.resource.data.sourceID}}</p>
		</div>
	</div>
	<div class="form-group">
		<label for="target" class="col-sm-4 control-label">Target</label>
		<div class="col-sm-8">
			<p id="target" class="form-control-static">{{$ctrl.resource.data.targetID}}</p>
		</div>
	</div>
	<div class="form-group">
		<label for="kind" class="col-sm-4 control-label">Kind</label>
		<div id="kind" class="col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="$ctrl.resource.data.alternate"> Alternate
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="$ctrl.resource.data.chain"> Chain
				</label>
			</div>
		</div>
	</div>
	<fieldset>
		<legend>Scope</legend>
		<div class="form-group">
			<label for="scope-type" class="col-sm-4 control-label">Type</label>
			<div id="scope-type" class="col-sm-8">
				<div class="radio" ng-repeat="st in $ctrl.scopeTypes">
					<label>
						<input type="radio" ng-model="$ctrl.scope.type" ng-value="st"/>
						{{st.displayName}}
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="exclusiveness-attributes" class="col-sm-4 control-label">Attributes</label>
			<div class="col-sm-8">
				<div class="checkbox" ng-repeat="attr in $ctrl.resource.data.attributes">
					<label>
						<input type="checkbox"
							ng-model="$ctrl.scope.attributes[attr.name]"
							ng-change="$ctrl.updateScopeType()">
							{{attr | withShortName}}
					</label>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="text-right">
		<button class="btn btn-primary" ng-click="$ctrl.sendDependency()">Done</button>
		<button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
	</div>
</div>
