<div class="form-horizontal">
	<div class="form-group">
		<label for="phase" class="col-sm-4 control-label">Source</label>
		<div class="col-sm-8">
			<p id="phase" class="form-control-static">{{$ctrl.resource.data.sourceID}}</p>
		</div>
	</div>
	<div class="form-group">
		<label for="craft" class="col-sm-4 control-label">Target</label>
		<div class="col-sm-8">
			<p id="craft" class="form-control-static">{{$ctrl.resource.data.targetID}}</p>
		</div>
	</div>
	<div class="form-group">
		<label for="type" class="col-sm-4 control-label">Kind</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="$ctrl.resource.data.alternate"> Alternate
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="$ctrl.resource.data.chain"> Chain
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="workers" class="col-sm-4 control-label">Scope</label>
		<div class="col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="$ctrl.resource.data.globalScope" ng-change="$ctrl.globalScopeChanged()"> Global
				</label>
			</div>
			<a href
				editable-select="$ctrl.resource.data.scope"
				e-multiple
				e-ng-options="attr as attr.name for attr in $ctrl.resource.data.attributes"
				e-ng-change="$ctrl.scopeChanged()">
				{{ $ctrl.showScope() }}
			</a>
		</div>
	</div>
	<div class="text-right">
		<button class="btn btn-primary" ng-click="$ctrl.sendDependency()">Done</button>
		<button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
	</div>
</div>
