<h2>Model '{{::$ctrl.model.name}}'</h2>
<a ui-sref="allModels">Exit</a>
<div id="panels">
	<div id="precise-diagram" precise-diagram model="$ctrl.model"></div>
	<div id="properties">
		<h3>Properties</h3>
		<task-properties
			ng-if="$ctrl.taskResource"
			resource="$ctrl.taskResource"
			model="$ctrl.model"
			done="$ctrl.done($result)"
			cancelled="$ctrl.cancelled()">
		</task-properties>
		<dependency-properties
			ng-if="$ctrl.dependencyResource"
			resource="$ctrl.dependencyResource"
			model="$ctrl.model"
			done="$ctrl.done($result)"
			cancelled="$ctrl.cancelled()">
		</dependency-properties>
		<div ng-if="!$ctrl.activeResource">
			Nothing selected.
		</div>
	</div>
	<div id="warnings">
		<ul>
			<li ng-repeat="w in $ctrl.warnings" class="warning-message">
				{{$ctrl.warningMessage(w)}}
			</li>
		</ul>
	</div>
</div>