<div class="panels">
	<precise-diagram-paper
		model="$ctrl.model"
		hide-locations="$ctrl.hideLocations"
		current-warning="$ctrl.currentWarning"
		on-structure-changed="$ctrl.reload()">
	</precise-diagram-paper>
	<div id="properties-wrapper">
		<h3>Properties</h3>
		<task-properties
			class="properties"
			ng-if="$ctrl.taskResource"
			resource="$ctrl.taskResource"
			done="$ctrl.done($result)"
			cancelled="$ctrl.cancelled()">
		</task-properties>
		<dependency-properties
			class="properties"
			ng-if="$ctrl.dependencyResource"
			resource="$ctrl.dependencyResource"
			done="$ctrl.done($result)"
			cancelled="$ctrl.cancelled()">
		</dependency-properties>
		<div ng-if="!$ctrl.activeResource">
			Nothing selected.
		</div>
	</div>
</div>
<div id="warnings" class="panel panel-default">
	<header class="panel-heading" ng-click="$ctrl.warningsOpen = !$ctrl.warningsOpen">
		<a href>
			<span class="glyphicon glyphicon-warning-sign"></span>
			Warnings
			<span class="badge" ng-show="$ctrl.warnings.length">{{$ctrl.warnings.length}}</span>
		</a>
	</header>
	<article uib-collapse="!$ctrl.warningsOpen" ng-if="$ctrl.warnings.length" class="list-group">
		<a href
			class="list-group-item"
			ng-class="{'list-group-item-danger': w === $ctrl.currentWarning}"
			ng-repeat="w in $ctrl.warnings"
			ng-click="$ctrl.showWarning(w)">
			{{w.message}}
		</a>
	</article>
	<article uib-collapse="!$ctrl.warningsOpen" ng-if="!$ctrl.warnings.length" class="panel-body">
		<p class="text-muted">No warnings</p> 
	</article>
</div>
