<div class="toolbar">
	<button class="btn btn-default" ng-click="$ctrl.createTaskType()" ng-disabled="!$ctrl.model.data.configInfo.editable || !$ctrl.config">Create</button>
	<span class="text-danger">{{$ctrl.fileErrorMsg}}</span>
</div>
<table id="phase-table" class="table table-striped" st-table="$ctrl.coll" st-safe-src="$ctrl.config.taskTypes">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Craft</th>
			<th>Phase</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tt in $ctrl.coll">
			<td>{{tt.name}}</td>
			<td>{{tt.description}}</td>
			<td>{{tt.craft}}</td>
			<td>{{tt.phase}}</td>
			<td>
				<button
					class="btn btn-default"
					ng-click="$ctrl.deleteTaskType($index)"
					ng-disabled="!$ctrl.model.data.configInfo.editable">
					Delete
				</button>
			</td>
		</tr>
	</tbody>
</table>