
<div class="config-operations">
	<button
		class="btn btn-default"
		ng-click="$ctrl.importConfig()"
		ng-disabled="!$ctrl.model.data.configInfo.editable">
		Import
	</button>
	<a
		class="btn btn-default"
		ng-href="{{$ctrl.getFileURL($ctrl.model.data)}}"
		download="{{$ctrl.getFileName($ctrl.model.data)}}"
		ng-disabled="$ctrl.model.data.configInfo.empty">
		Export
	</a>
	<button
		class="btn btn-danger"
		ng-click="$ctrl.clearConfig()"
		ng-disabled="!$ctrl.model.data.configInfo.editable || $ctrl.model.data.configInfo.empty">
		Clear
	</button>
</div>

<uib-tabset>
	<uib-tab heading="Building">
		<precise-building model="$ctrl.model" phases="$ctrl.phases" reload="$ctrl.reload()"></precise-building>
	</uib-tab>
	<uib-tab heading="Task Types">
		<precise-task-types model="$ctrl.model" phases="$ctrl.phases" reload="$ctrl.reload()"></precise-task-types>
	</uib-tab>
</uib-tabset>