<div class="modal-header">
	<h3 class="modal-title">New Task Definition</h3>
</div>
<div class="modal-body">
	<form class="form">
		<div class="form-group">
			<label for="taskType-name">Name</label>
			<input id="model-name" type="text" class="form-control" ng-model="$ctrl.taskType.name"/>
		</div>
		<div class="form-group">
			<label for="taskType-short-name">Short Name</label>
			<input id="model-short-name" type="text" class="form-control" ng-model="$ctrl.taskType.shortName"/>
		</div>
		<div class="form-group">
			<label for="taskType-descr">Description</label>
			<textarea id="taskType-descr" class="form-control" ng-model="$ctrl.taskType.description" rows="10">
			</textarea>
		</div>
		<div class="form-group">
			<label for="taskType-phase">Phase</label>
			<select id="taskType-phase" class="form-control" ng-model="$ctrl.taskType.phase" ng-options="p as p.name for p in $ctrl.phases">
				<option value="">-- Select a phase --</option>
			</select>
		</div>
		<div class="form-group">
			<label for="unit-of-measure">Unit of Measure</label>
			<input id="unit-of-measure" type="text" class="form-control" ng-model="$ctrl.taskType.unitOfMeasure"/>
		</div>
		<div class="form-group">
			<label for="taskType-craft">Craft</label>
			<select id="taskType-craft"
				class="form-control"
				ng-model="$ctrl.taskType.craft"
				ng-options="c as (c | withShortName) for c in $ctrl.crafts">
				<option value="">-- Select a craft --</option>
			</select>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.createTaskType()">Create</button>
	<button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>