<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="allModels">
				Process Modelling
			</a>
		</div>
		<!-- <ul class="nav navbar-nav navbar-right">
			<li><a href="./doc.html">Info</a></li>
		</ul> -->
	</div>
</nav>
<div class="container-fluid content">
	<div class="toolbar">
		<button class="btn btn-default" ng-click="$ctrl.createModel()">Create</button>
		<button class="btn btn-default" ng-model="$ctrl.file" ngf-select="$ctrl.importFile($ctrl.file)">Import</button>
	</div>
	<table id="all-models-table" class="table table-striped" st-table="$ctrl.coll" st-safe-src="$ctrl.models">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="m in $ctrl.coll">
				<td>{{m.name}}</td>
				<td>{{m.description}}</td>
				<td class="toolbar">
					<a class="btn btn-default" ui-sref="singleModel.diagram({ name: m.name })">Open</a>
					<button class="btn btn-default" ng-click="$ctrl.editModel(m)">Edit</button>
					<div class="btn-group" uib-dropdown>
						<button class="btn btn-default" uib-dropdown-toggle>Export</button>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li><a ng-href="{{$ctrl.remoteFiles.mdl.base.getModelUrl(m)}}">As MDL file (JSON)</a></li>
							<li><a ng-href="{{$ctrl.remoteFiles.csv.getModelUrl(m)}}">As CSV file</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Advanced</li>
							<li><a ng-href="{{$ctrl.remoteFiles.smv.getModelUrl(m)}}">As NuSMV file</a></li>
							<li><a ng-href="{{$ctrl.remoteFiles.graph.getModelUrl(m)}}">As graph file</a></li>
						</ul>
					</div>
					<!-- <a class="btn btn-default" ng-href="{{$ctrl.getFileURI(m)}}" target="_blank" download="{{$ctrl.getFileName(m)}}">Export</a> -->
					<button class="btn btn-default" ng-click="$ctrl.duplicateModel(m)">Duplicate</button>
					<button class="btn btn-default" ng-click="$ctrl.deleteModel(m)">Delete</button>
				<td>
			</tr>
		</tbody>
	</table>
</div>
