<h3>Task</h3>
<hr>
<form>
	<label>
		<span>Name:</span>
		<input type="text" name="name"/>
	</label>
	<label>
		<span>Type:</span>
		<select name="type"></select>
	</label>
	<label>
		<span>Order Scope:</span>
		<select name="orderScope">
			<option value="TASK">task</option>
			<option value="SECTOR">sector</option>
			<option value="LEVEL">level</option>
			<option value="SECTION">section</option>
			<option value="UNIT">unit</option>
		</select>
	</label>
	<label>
		<span>Exclusiveness Scope:</span>
		<select name="exclusivenessScope">
			<option value="TASK">task</option>
			<option value="SECTOR">sector</option>
			<option value="LEVEL">level</option>
			<option value="SECTION">section</option>
			<option value="UNIT">unit</option>
		</select>
	</label>
</form>